/* Estilos gerais */

body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}


.btn{
	padding: 10px 30px;
	color: #41b883; /*Verde VueJs*/
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: .1em;
	transition: all .5s ease;
}

/* Header */
.titulo{
	padding-left: 0px;
}

.btn.titulo{
	color: #41b883;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20px;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: #35495e; /*Azul VueJe*/
	padding: 15px 0;
	z-index: 10;
}

.header_menu{
	text-align: right; 
}

.header_menu ul li{
	display: inline-block;
	margin-left: 25px;
	margin-top: 10px;
}

.header_menu ul li a{
	color: #FFF;
	font-weight: bold;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	transition: all .3s ease;
}

.header_menu ul li a.menu_ativo{
	color: #41b883;
}

/* Introdução */

.introducao{
	background-size: cover;
	text-align: center;

}

.introducao h1{
	font-size: 48px;
	color: #35495e;
	font-weight: bold;
}

.imagem{
	width: 300px;
	height: 300px;
	margin: auto;
	margin-top: 60px; 
}

.topicos{
	text-align: left;
	padding-top: 60px;
}

.topicos ul li a{
	color: #35495e;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 25px;
	line-height: 30px;
	color: #35495e;

}